/* Regular 400 */
@font-face{
  font-family:"GothamPro";
  src:url("/wp-content/themes/vibratex/assets/fonts/GothamPro.woff2") format("woff2"),
      url("/wp-content/themes/vibratex/assets/fonts/GothamPro.woff") format("woff");
  font-weight:400;
  font-style:normal;
  font-display:swap;
}

/* Italic 400 (опційно) */
@font-face{
  font-family:"GothamPro";
  src:url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Italic.woff2") format("woff2"),
      url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Italic.woff") format("woff");
  font-weight:400;
  font-style:italic;
  font-display:swap;
}

/* Medium 500 (опційно) */
@font-face{
  font-family:"GothamPro";
  src:url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Medium.woff2") format("woff2"),
      url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Medium.woff") format("woff");
  font-weight:500;
  font-style:normal;
  font-display:swap;
}

/* Bold 700 */
@font-face{
  font-family:"GothamPro";
  src:url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Bold.woff2") format("woff2"),
      url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Bold.woff") format("woff");
  font-weight:700;
  font-style:normal;
  font-display:swap;
}

/* Bold Italic 700 (опційно) */
@font-face{
  font-family:"GothamPro";
  src:url("/wp-content/themes/vibratex/assets/fonts/GothamPro-BoldItalic.woff2") format("woff2"),
      url("/wp-content/themes/vibratex/assets/fonts/GothamPro-BoldItalic.woff") format("woff");
  font-weight:700;
  font-style:italic;
  font-display:swap;
}

/* Black 900 (опційно) */
@font-face{
  font-family:"GothamPro";
  src:url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Black.woff2") format("woff2"),
      url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Black.woff") format("woff");
  font-weight:900;
  font-style:normal;
  font-display:swap;
}

/* Light 300 (опційно) */
@font-face{
  font-family:"GothamPro";
  src:url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Light.woff2") format("woff2"),
      url("/wp-content/themes/vibratex/assets/fonts/GothamPro-Light.woff") format("woff");
  font-weight:300;
  font-style:normal;
  font-display:swap;
}
