
.icon-login:before { content: '\e800'; } /* '' */
.icon-close:before { content: '\e801'; } /* '' */
.icon-layers:before { content: '\e802'; } /* '' */
.icon-responsive:before { content: '\e803'; } /* '' */
.icon-settings:before { content: '\e804'; } /* '' */
.icon-phone-call:before { content: '\e805'; } /* '' */
.icon-right-arrow-1:before { content: '\e806'; } /* '' */
.icon-shopping-bag-1:before { content: '\e807'; } /* '' */
.icon-email:before { content: '\e808'; } /* '' */
.icon-location:before { content: '\e809'; } /* '' */
.icon-video:before { content: '\e80a'; } /* '' */
.icon-email-1:before { content: '\e80b'; } /* '' */
.icon-placeholder:before { content: '\e80c'; } /* '' */
.icon-quote_soft:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-filter:before { content: '\e80f'; } /* '' */
.icon-time:before { content: '\e810'; } /* '' */
.icon-call-1:before { content: '\e811'; } /* '' */
.icon-favorites:before { content: '\e812'; } /* '' */
.icon-exchange:before { content: '\e813'; } /* '' */
.icon-font:before { content: '\e814'; } /* '' */
.icon-gear:before { content: '\e815'; } /* '' */
.icon-homepages:before { content: '\e816'; } /* '' */
.icon-parallax:before { content: '\e817'; } /* '' */
.icon-seo-1:before { content: '\e818'; } /* '' */
.icon-text:before { content: '\e819'; } /* '' */
.icon-coding-1:before { content: '\e81a'; } /* '' */
.icon-document:before { content: '\e81b'; } /* '' */
.icon-share:before { content: '\e81c'; } /* '' */
.icon-shopping-bag-2:before { content: '\e81d'; } /* '' */
.icon-whatsapp:before { content: '\e81e'; } /* '' */
.icon-chat-1:before { content: '\e81f'; } /* '' */
.icon-clock:before { content: '\e820'; } /* '' */
.icon-chat:before { content: '\e821'; } /* '' */
.icon-checkmark:before { content: '\e822'; } /* '' */
.icon-arrow-long:before { content: '\e823'; } /* '' */
.icon-right-arrow:before { content: '\e824'; } /* '' */
.icon-phone:before { content: '\e825'; } /* '' */
.icon-tick:before { content: '\e826'; } /* '' */
.icon-shopping-bag:before { content: '\e827'; } /* '' */
.icon-menu_arrow:before { content: '\e828'; } /* '' */
.icon-search-1:before { content: '\e829'; } /* '' */
.icon-play-button-arrowhead:before { content: '\e82a'; } /* '' */
.icon-right-arrow-2:before { content: '\e82b'; } /* '' */
.icon-search-2:before { content: '\e82c'; } /* '' */
.icon-account:before { content: '\e82d'; } /* '' */
.icon-play:before { content: '\e82e'; } /* '' */
.icon-outgoing-call:before { content: '\e82f'; } /* '' */
.icon-search-3:before { content: '\e830'; } /* '' */
.icon-bg:before { content: '\e831'; } /* '' */
.icon-login-1:before { content: '\e832'; } /* '' */
.icon-shopping-bag-3:before { content: '\e833'; } /* '' */
.icon-next-2:before { content: '\e834'; } /* '' */
.icon-mars:before { content: '\e835'; } /* '' */
.icon-mars-2:before { content: '\e836'; } /* '' */
.icon-quote:before { content: '\e837'; } /* '' */
.icon-shopping-cart:before { content: '\e838'; } /* '' */
.icon-shopping-cart-2:before { content: '\e839'; } /* '' */
.icon-user:before { content: '\e83a'; } /* '' */
.icon-vibration:before { content: '\e83b'; } /* '' */
.icon-eye-2:before { content: '\e83c'; } /* '' */
.icon-avatar:before { content: '\e83d'; } /* '' */
.icon-call:before { content: '\e83e'; } /* '' */
.icon-download:before { content: '\e83f'; } /* '' */
.icon-femenine:before { content: '\e840'; } /* '' */
.icon-like:before { content: '\e841'; } /* '' */
.icon-magnifying-glass:before { content: '\e842'; } /* '' */
.icon-send:before { content: '\e843'; } /* '' */
.icon-like-2:before { content: '\e844'; } /* '' */
.icon-star-2:before { content: '\e845'; } /* '' */
.icon-reward_03:before { content: '\e846'; } /* '' */
.icon-timing-belt:before { content: '\e847'; } /* '' */
.icon-venus:before { content: '\e848'; } /* '' */
.icon-planet-earth:before { content: '\e849'; } /* '' */
.icon-reward_01:before { content: '\e84a'; } /* '' */
.icon-eye:before { content: '\e84c'; } /* '' */
.icon-quote_soft_vert:before { content: '\e84e'; } /* '' */
.icon-quote_hard_01:before { content: '\e84f'; } /* '' */
.icon-quote_hard_02:before { content: '\e850'; } /* '' */
.icon-quote_semi:before { content: '\e851'; } /* '' */
.icon-loupe:before { content: '\e852'; } /* '' */
.icon-reward_02:before { content: '\e853'; } /* '' */
.icon-logistic:before { content: '\e854'; } /* '' */
.icon-delivery-status:before { content: '\e855'; } /* '' */
.icon-money-bag:before { content: '\e856'; } /* '' */
.icon-star-1:before { content: '\e857'; } /* '' */
.icon-underpants:before { content: '\e858'; } /* '' */
.icon-archer:before { content: '\e859'; } /* '' */
.icon-waves:before { content: '\e85a'; } /* '' */
